
h2{
	margin-top: 90px;
	text-align: center;
}

.modifiedContainer{
	margin-left: 40px;
	margin-right: 40px;
}

.imgObj{
	border: 5px solid #4153AF;
	width: 100%;
}

.SellerInfo{
	margin-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
	object-fit: cover;
	border: 3px solid #4153AF;
}

.imgSeller{
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 5px;
  object-fit: cover;
}

#SellerName{
	color: black;
	font-weight: 500;
	font-size: 25px;
}

.rating{
	color: white;
}

.textLine{
	margin: 20px;
	padding: 30px;
}

.textBold{
	font-weight: 600;
	font-size: 30px;
	float: left;
}

.textNonBold{
	/*font-weight: 500;*/
	font-size: 20px;
	float: right;
}

.reviewCount{
	font-size: 15px;
}

.icon-gold{
	color: gold;
}

#CommentHeading{
	margin: 20px;
	margin-left: 0px;
	margin-top: 0px;
	padding: 30px;
}

.comment{
	background-color: #4153AF;
	color: white;
	border-radius: 5px;
	margin: 10px;
}

.rentButton {
	background-color:#32439b;
	color: white;
	border-radius: 5px;
	margin: 10px;
	width: 97%;
}

.senderName{
	margin-left: 5px;
	padding: 3px;
}

.commentContent{
	margin-left: 20px;
	padding: 5px;
}

