#signupForm {
    display: grid;
    place-items: center;
    margin-bottom: 5%;
}

#signupForm label {
    justify-self: left;
}

#signupForm button {
    width: 100%;
}

#signupForm input, #signupForm a {
    display: block;
    margin: 3%;
    width: 100%;
}

#signupForm input[placeholder] {
    border-width: 0px 0px 1px 0px;
    border-color: lightgrey;
}