#profilePic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black ;
    padding: 8px;
}

#picContainer {
    padding: 10px;
    margin-top: 100px;
    width: 200px;
    margin-left: 20px;
    min-height: 200px;
    float: left;
}

#TableContainer {
    padding-top: 50px;
    padding-left: 20px;
    float: left;
}

#Container {

    padding: 10px;
    float: left;
    display: flex;
}

#Page {
    padding: 10px;
    display: flex;
}