.container {
    width: 100%;
    float: left;
}

.image {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    position: relative;
    float: left;
}

.name {
    text-align: center;
    margin-top: 0px;
}

.info {
    /* position: absolute; */
    width: 40%;
    float: left;
    margin-left: 20px;
}