#superContainer {
    background: white;
    width: 100vw;
    margin: 0px;
    padding-bottom: 50px;
}

#cardsContainer {
    display: flex;
    justify-content: space-around;
}

#cardsContainer .card {
    width: 250px;
    background: whitesmoke;
}

#cardsContainer .media {
    height: 150px;
    background-size: cover;
    background-position: center;
}

#superContainer h4 {
    padding: 20px;
}

#superContainer h5 {
    color: black;
}