#post-images {
    max-height: 400px;
    max-width: 400px;
    margin: 200px 50px;
}

/* Styling the new label */
label[for="file"] {
    text-align: center;
    background-color: lightgray;
    font-family: Roboto;
    font-size: 1.25em;
    color:white;
    display: inline-block;
    box-shadow: 0px 0px 10px 2px lightgrey;
    min-height: 400px;
    min-width: 400px;
    padding-bottom: 10px;
    margin-right: 200px;
}

img {
    height: 100%;
    width: 100%;
}

.inputfile {
    display: none;
}

label:hover {
    background-color: #4153AF;
    cursor: pointer; 
}

#addImageTitle {
    text-shadow: 2px 2px 5px grey;
}
