#accessBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#accessForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(30vw, 350px);
    height: max(30vw, 475px);
    background: azure;
    border-radius: 15%;
    box-shadow: 0px 0px 10px 2px lightgrey;
}

#returnButton {
    position: absolute;
    top: 5px;
    left: 5px;
}

.errorMessage {
    color: red;
    visibility: hidden;
}