#searchBox {
    background: aliceblue;
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    box-shadow: black 5px 5px 10px;
}

#searchBox h4 {
    padding: 20px 0px 0px 50px;
}