#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1vh 5vh;
}

#navimg {
    justify-self: flex-start;
}

#navbar button {
    border: none;
    padding: 5px;
    margin: 10px;
    font-size: large;
    border-radius: 15px;
    background: whitesmoke;
    outline: none;
}

#navbar button:hover {
    cursor: pointer;
    font-size: larger;
    background: lightgray;
    transition: font-size 1s, background 1s;
}

#login {
    display: inline;
}